$background : #2d2d2d;
$menu-bar   : #28282B; //#2B2C31

$card-background: lighten($background,8%);

$button-color: #252525;

$body-font  : #B2BABB;
$purp : #702AB6;
$orange : #EDAE3B;

// indicators
$positive: #27aca1;
$negative: #d7432c;
$information: #2A70B6;
$neutral: #5C6067;

