@import "colors";
@import "mixins";

.login-container{
  $padding: 20px;
  height: 290px;
  width: 350px;
  margin: 15% auto 0 auto;
  padding: $padding;
  position: relative;

  input{
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid $card-background;
    font-weight: 400;
    font-size: 20px;
    border-radius: 2px;
    height: 30px;
    color: $body-font;
    margin-bottom: 25px;
    &:focus{
      outline: 0;
      border-bottom: 2px solid $information;

    }
  }
  h2{
    margin-top: 15;
    text-align: center;
  }
  button{
    padding: 15px;
    background-color: $card-background;
    font-size: 15px;
    color: $body-font;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    &:hover{
      background-color: lighten($card-background,1.5%);
    }
  }

  .login-button{
    position: absolute;
    right: $padding;
    bottom: $padding;
  }
  .signup-button{
    position: absolute;
    left: $padding;
    bottom: $padding;
  }
}