// DEMO ONLY ---
@import "demo-elements";
//
@import "colors";
@import "menu";
@import "cards";
@import "elements";
@import "tables";
@import "containers";
@import "typeography";
@import "buttons";
@import "input";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body{
  background-color: $background;
  font-family: 'Open Sans', sans-serif;
  color: $body-font;
}

.row{
  max-width: 82.5em;
}

.master-container{
  margin-left: $menu-width;
  padding: 20px 20px 20px 0px;
}

.hidden{
  visibility:hidden;
}
