// DEMO ONLY ---
@import "demo-elements";
//
@import "colors";
@import "menu";
@import "cards";
@import "elements";
@import "tables";
@import "containers";
@import "typeography";
@import "buttons";
@import "input";
@import "flexit";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
body{
  background-color: $background;
  font-family: Roboto;
  color: $body-font;
}

.row{
  max-width: 82.5em;
}

.master-container{
  margin-left: $menu-width;
  padding: 20px 20px 20px 0px;
}

.hidden{
  visibility:hidden;
}
