@import "colors";

$menu-width: 60px;

.sidebar-menu{
  position: fixed;
  top: 0px; bottom: 0px; left: 0px;
  width: $menu-width;
  background-color: $menu-bar;

  ul{
    list-style: none;
    margin: 0;
    padding: 10px 0px 0px 0px;
    li{
      padding: 10px 15px 10px 15px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      .fa{
        text-align: center;
        width: 30px;
      }
      &:hover{
        color: #ffffff;
      }
      &:active{
        
      }
      &.current{
        color: #ffffff;
        span{
          color: #ffffff;
        }
        border-left: 5px solid #2FAEEE;
        padding-left: 10px;
      }
    }
  }

}